body {
  background-color: black;
  background: url("assets/images/ignasi_pattern_s.png"); 
  height: 100%;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Georgia';.
}
footer {
  background-color: #666666; 
  color: #ffffff; 
  height: 50px; 
}
.wrapper {
  min-height: 100%; 
  margin-bottom: -50px;
}
.connectIcon {
  width: 60px; height: 60px;
}
h2 {
  color: #4ca9a4;
}
p {
  font-family: 'Arial';
  font-size: 11pt; 
  line-height: 1.7;
}
h1 {
  display: block;
  background-color: #4ca9a4; 
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
}
li:hover {
  text-decoration: underline;
}
div > a:hover {
  opacity: 0.5;
}
.whiteBG {
  background-color: #ffffff;
}
.topMarginOnly {
  margin: 50px 0 0 0;
}
.profilePic {
   float: left; 
   margin: 0 15px 7px 0;
}
@media screen and (max-width: 992px) {
  .mainRow {
    background-color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    width: 102%;
  }
}
.submitButton {
  color: #ffffff;
  height: 50px;
  width: 120px;
  background-color: #4ca9a4;
  font-size: 1.3em;
}